<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Call | Scenario </title>
    <meta name="keyword" content="Real Estate">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/fontello.css">
    <link href="/fonts/icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">
    <link href="/fonts/icon-7-stroke/css/helper.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/css/bootstrap-select.min.css"> 
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/icheck.min_all.css">
    <link rel="stylesheet" href="/css/price-range.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">  
    <link rel="stylesheet" href="/css/owl.theme.css">
    <link rel="stylesheet" href="/css/owl.transitions.css">
    <link rel="stylesheet" href="/css/lightslider.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    </head>
    <body>

        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>
        <!-- Body content -->

       

        <!-- register-area -->
        <div class="register-area" style="background-color: rgb(249, 249, 249);">
            <div class="container">

                
                <div class="row">
                    <div class="col-md-6" style="float:none;margin:auto;">
                        <div class="box-for overflow">                         
                            <div class="col-md-12 col-xs-12 login-blocks">
                                <h2>Scenario 1: New Job, New Home - John</h2> 
                                <form action="" method="post">
                                    <div class="form-group">
                                        <label for="phone">Phone</label>
                                        <input type="text" class="form-control" id="scenario_1_phone" placeholder="+971XXXXXXXX">
                                    </div>
                                
                                    <div class="text-center">
                                        <button type="button" id="scenario_1_btn" class="btn btn-default"> Call To John</button>
                                        
                                    </div>
                                </form>
                                <br>
                                
                            
                            </div>
                            
                        </div>
                    </div>
                </div>

                <!---- Scenario 1: Over-->
                <br/>
                <div class="row">
                    <div class="col-md-6" style="float:none;margin:auto;">
                        <div class="box-for overflow">                         
                            <div class="col-md-12 col-xs-12 login-blocks">
                                <h2>Scenario 2: Expanding Family, Bigger Space - Sarah and Ahmed</h2> 
                                <form action="" method="post">
                                    <div class="form-group">
                                        <label for="phone">Phone</label>
                                        <input type="text" class="form-control" id="scenario_2_phone" placeholder="+971XXXXXXXX">
                                    </div>
                                
                                    <div class="text-center">
                                        <button type="button" id="scenario_2_btn" class="btn btn-default"> Call To Sarah and Ahmed</button>
                                        
                                    </div>
                                </form>
                                <br>
                                
                            
                            </div>
                            
                        </div>
                    </div>
                </div>

                 <!---- Scenario 2: Over-->
                 <br/>
                 <div class="row">
                    <div class="col-md-6" style="float:none;margin:auto;">
                        <div class="box-for overflow">                         
                            <div class="col-md-12 col-xs-12 login-blocks">
                                <h2>Scenario 3: Investment Opportunity - Linda
                                </h2> 
                                <form action="" method="post">
                                    <div class="form-group">
                                        <label for="phone">Phone</label>
                                        <input type="text" class="form-control" id="scenario_3_phone" placeholder="+971XXXXXXXX">
                                    </div>
                                
                                    <div class="text-center">
                                        <button type="button" id="scenario_3_btn" class="btn btn-default"> Call To Linda</button>
                                        
                                    </div>
                                </form>
                                <br>
                                
                            
                            </div>
                            
                        </div>
                    </div>
                </div>

                 <!---- Scenario 3: Over-->
                 <br/>
                 <div class="row">
                    <div class="col-md-6" style="float:none;margin:auto;">
                        <div class="box-for overflow">                         
                            <div class="col-md-12 col-xs-12 login-blocks">
                                <h2>Scenario 4: Downsizing for Retirement - Mr. and Mrs. Patel
                                </h2> 
                                <form action="" method="post">
                                    <div class="form-group">
                                        <label for="phone">Phone</label>
                                        <input type="text" class="form-control" id="scenario_4_phone" placeholder="+971XXXXXXXX">
                                    </div>
                                
                                    <div class="text-center">
                                        <button type="button" id="scenario_4_btn" class="btn btn-default"> Call To Mr. and Mrs. Patel</button>
                                        
                                    </div>
                                </form>
                                <br>
                                
                            
                            </div>
                            
                        </div>
                    </div>
                </div>

            </div>
        </div>      
        <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="/js/jquery-1.10.2.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="/js/bootstrap-select.min.js"></script>
        <script src="/js/bootstrap-hover-dropdown.js"></script>
        <script src="/js/easypiechart.min.js"></script>
        <script src="/js/jquery.easypiechart.min.js"></script>
        <script src="/js/owl.carousel.min.js"></script>
        <script src="/js/wow.js"></script>
        <script src="/js/icheck.min.js"></script>
        <script src="/js/price-range.js"></script>
        <script type="text/javascript" src="/js/lightslider.min.js"></script>
        <script src="/js/main.js"></script>
        <script type="text/javascript">
            var base_url = 'http://api.realtorai.us:3006';
            $(document).keypress(
            function(event){
                if (event.which == '13') {
                event.preventDefault();
                }
            });
            $( document ).ready(function() {
                $("#scenario_1_btn").click(function(){
                    var phone = $("#scenario_1_phone").val();
                    if(phone.trim()){
                        $.ajax({
                            url: base_url+'/api/call/scenario1', 
                            type: "POST",
                            data: { userphone: phone },
                            success: function (result) {
                                alert(result);
                                },
                                error: function (err) {
                                    console.log(err?.responseJSON);
                                    alert(err?.responseJSON);
                                // check the err for error details
                                }
                        }); // ajax call closing
                    }else{
                        alert("Enter Phone Number");
                    }
                   
                });

                $("#scenario_2_btn").click(function(){
                    var phone = $("#scenario_2_phone").val();
                    if(phone.trim()){
                        $.ajax({
                            url: base_url+'/api/call/scenario2', 
                            type: "POST",
                            data: { userphone: phone },
                            success: function (result) {
                                alert(result);
                                },
                                error: function (err) {
                                    console.log(err?.responseJSON);
                                    alert(err?.responseJSON);
                                // check the err for error details
                                }
                        }); // ajax call closing
                    }else{
                        alert("Enter Phone Number");
                    }
                   
                });

                $("#scenario_3_btn").click(function(){
                    var phone = $("#scenario_3_phone").val();
                    if(phone.trim()){
                        $.ajax({
                            url: base_url+'/api/call/scenario3', 
                            type: "POST",
                            data: { userphone: phone },
                            success: function (result) {
                                alert(result);
                                },
                                error: function (err) {
                                    console.log(err?.responseJSON);
                                    alert(err?.responseJSON);
                                // check the err for error details
                                }
                        }); // ajax call closing
                    }else{
                        alert("Enter Phone Number");
                    }
                   
                });

                $("#scenario_4_btn").click(function(){
                    var phone = $("#scenario_4_phone").val();
                    if(phone.trim()){
                        $.ajax({
                            url: base_url+'/api/call/scenario4', 
                            type: "POST",
                            data: { userphone: phone },
                            success: function (result) {
                                alert(result);
                                },
                                error: function (err) {
                                    console.log(err?.responseJSON);
                                    alert(err?.responseJSON);
                                // check the err for error details
                                }
                        }); // ajax call closing
                    }else{
                        alert("Enter Phone Number");
                    }
                   
                });


            });
        </script>
    </body>
</html>